@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
:root {
  /* Tailwind Colors Fallback to remove oklab warnings */
  --color-slate-900: #0f172a; 
  --color-slate-950: #020617;
  --color-violet-500: #8b5cf6;

}




/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617; 
}
::-webkit-scrollbar-thumb {
  background: #4c1d95; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6d28d9; 
}